<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#f7f9fa">
    <title><%= title %> | Zoom Sportz</title>
    <meta name="description"
        content="Zoom sportz is your number one destination for current sports news. We are here to update you with the most recent and up-to-date sport news.">
    <meta name="keywords"
        content="Laliga, English premiere leaque, bundesliga, sports, football, soccer, english soccer, spanish league">
    <!--favicon-->
    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
    <link rel="manifest" href="/images/site.webmanifest">
    <link rel="mask-icon" href="/images/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,700;1,300&family=Noto+Serif:ital,wght@0,400;0,700;1,400&family=Roboto+Slab:wght@400;500&family=Roboto:wght@300;400;500;700;900&family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;1,400&family=Poppins:wght@300;400;500;600;700;800&family=PT+Serif:wght@400;700&display=swap"
        rel="stylesheet">
    <script src="https://unpkg.com/embla-carousel/embla-carousel.umd.js"></script>
    <script src="https://kit.fontawesome.com/907d5275a6.js" crossorigin="anonymous"></script>
    <!-- <script src="https://cdn.ckeditor.com/ckeditor5/34.1.0/classic/ckeditor.js"></script> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simplebar@5.3.8/dist/simplebar.css" />
    <link rel="stylesheet" href="https://widgets.sportmonks.com/css/app.css">
    <link rel="stylesheet" href="/Css/ckstyles.css">
    <link rel="stylesheet" href="/Css/editor.css">
    <link rel="stylesheet" href="/Css/embla.css">
    <link rel="stylesheet" href="/Css/login.css">
    <link rel="stylesheet" href="/Css/blog.css">
    <link rel="stylesheet" href="/Css/styles.css">
    <noscript>
        <style>
            /**
          * Reinstate scrolling for non-JS clients
          */
            .simplebar-content-wrapper {
                overflow: auto;
            }
        </style>
    </noscript>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-00X58N673T"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'G-00X58N673T');
    </script>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7287147359584031"
    crossorigin="anonymous"></script>
</head>

<body>
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous"
        src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v14.0&appId=593644877942199&autoLogAppEvents=1"
        nonce="55i7sfzH"></script>

    <nav class="navigation">
        <div class="blog-nav-enclosure">
            <div class="logo-and-links">
                <div class="logo">
                    <div class="burger blog-burger">
                        <div class="line1"></div>
                        <div class="line2"></div>
                        <div class="line3"></div>
                    </div>
                    <a href="/">
                        <div class="logo-wrapper">
                            <img src="/zs-logo.png" alt="Zoom Sportz">
                            <!-- <h1>Zoom Sportz</h1> -->
                        </div>

                    </a>
                </div>
                <ul class="nav_links">
                    <li class="nav_link"> <a href="/">Home</a> </li>
                    <li class="nav_link"> <a href="/live-preview" class="<%= live %> ">Live Preview</a> </li>
                    <li class="nav_link"> <a href="/about-us" class="<%= about%>">About Us</a> </li>
                    <% if(user){%>
                    <% if(user.privilege === "admin"){%>
                    <li class="nav_link"> <a href="/users/admin/dashboard/<%= user._id %>">Dashboard</a> </li>
                    <% }else{%>
                    <li class="nav_link"> <a href="/users/dashboard/<%= user._id %>">Dashboard</a> </li>
                    <% } %>
                    <% } %>
                </ul>

            </div>

        </div>
    </nav>
    <div class="side-drawer" data-simplebar>
        <i class="fas fa-times"></i>
        <div class="side-drawer-inner">
            <div class="main-category discover-movies">
                <div class="category-title">
                    <h2 class="discover">Menu</h2>
                </div>
                <div class="category-types">
                    <ul class="categories">
                        <li><a class="active-cat" href="/">Home</a></li>
                        <li><a class="active-cat" href="/about-us">About Us</a></li>
                        <li><a class="active-cat" href="/live-preview">Live Preview</a> </li>
                        <% if(user){%>
                        <% if(user.privilege === "admin"){%>
                        <li><a class="active-cat" href="/users/admin/dashboard/<%= user._id %>">Dashboard</a> </li>
                        <% }else{%>
                        <li> <a class="active-cat" href="/users/dashboard/<%= user._id %>">Dashboard</a> </li>
                        <% } %>
                        <% } %>
                    </ul>
                </div>

            </div>
            <div class="main-category discover-movies">
                <div class="category-title">
                    <h2 class="discover">Categories</h2>
                </div>
                <div class="category-types">
                    <ul class="categories">
                        <% if(sortedCats){%>
                        <% for(let cat in sortedCats){%>
                        <li><i class="fas fa-futbol"></i><a class="active-cat" href="/category/<%=cat%>"><%= cat %></a>
                        </li>
                        <% } %>
                        <% } %>
                    </ul>
                </div>

            </div>

        </div>

    </div>
    <section class="side-drawer-backdrop"></section>


    <section id="header-container" class="blog-header">
        <div class="wrapper-enclosure-blog live-preview-wrapper">
            <div class="blog-body-wrapper" style="margin-bottom:2rem;">
                <div id="long" class="blog-body-content">
                    <div class="about-zoom-sportz">
                        <h1 class="cat-title">About Zoom Sportz</h1>
                        <p>
                            Zoom Sportz had it's humble beginnings back in 2020, and in the year since has grown into a
                            football news provider. We mostly write about European and African soccer with an emphasis
                            on the Spanish LaLiga, German Bundesliga, Italy Serie A, French League 1, CAF, World cup,
                            UEFA
                            Champions League, English Premiere League, Elite I Championship Cameroon.
                            We make it our mission to provide you with all the latest football happenings while also
                            providing you with information to better understand this ever-changing game.
                        </p>
                        <p>
                            The idea for Zoom Sportz was born back in 2020 when the founder, Agborashu Bridewell Ayuk
                            decided
                            to become a sports journalist, and wanted to
                            keep his audience informed about every development in the soccer sporting World.
                            A year later we created Zoom-sportz.com following our drive to reach every corner of the
                            globe with exciting football news.
                        </p>
                        <p>
                            Zoom Sportz has been online since early 2022 as a news website dedicated entirely to
                            football
                            where we try our best to keep football fans around the World informed.
                            Our goal is to provide our audience with unbiased news as soon as it happens.
                            We've also sort to create a community through our comments section after every article, to
                            allow members of our audience to share their opinion and interact with one another.
                        </p>
                    </div>
                </div>


                <div id="short" class="blog-body-bio margin-2">
                    <div class="ads-container" style="margin:1.5rem 0 0;">
                        <script async
                            src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7287147359584031"
                            crossorigin="anonymous"></script>
                        <!-- banner ads -->
                        <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-7287147359584031"
                            data-ad-slot="9234749507" data-ad-format="auto" data-full-width-responsive="true"></ins>
                        <script>
                            (adsbygoogle = window.adsbygoogle || []).push({});
                        </script>
                    </div>
                    <div class="blog-social">
                        <h1 class="cat-title">Keep in touch</h1>
                        <div class="blog-social-inner">
                            <a href="https://www.facebook.com/ZOOM-sports-updates-108939795152046/" target="_blank"
                                class="blog-social-link"><i class="fab fa-facebook-f"></i> Facebook</a>
                            <a href="#" target="_blank" class="blog-social-link"><i
                                    class="fab fa-instagram"></i>Instagram</a>
                            <a href="mailto:info@zoom-sportz.com" target="_blank" class="blog-social-link"><i
                                    class="fas fa-envelope"></i>G-mail</a>
                            <a href="#" target="_blank" class="blog-social-link"><i
                                    class="fab fa-youtube"></i>Youtube</a>
                        </div>
                    </div>
                    <div class="cats">
                        <h1 class="cat-title">Read by Category</h1>
                        <div class="post-cat-container">
                            <ul>
                                <% if(sortedCats){%>
                                <% for(let cat in sortedCats){%>
                                <li><a href="/category/<%=cat%>"><%= cat %> </a><span>(<%= sortedCats[cat] %>)</span>
                                </li>
                                <% } %>
                                <% } %>
                            </ul>

                        </div>
                    </div>
                    <div>
                        <div class="facebook-page">
                            <h1 class="cat-title">Facebook Feed</h1>
                            <div class="fb-page"
                                data-href="https://www.facebook.com/ZOOM-sports-updates-108939795152046/"
                                data-tabs="timeline" data-width="700px" data-height="550px" data-small-header="false"
                                data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
                                <blockquote cite="https://www.facebook.com/ZOOM-sports-updates-108939795152046/"
                                    class="fb-xfbml-parse-ignore"><a
                                        href="https://www.facebook.com/ZOOM-sports-updates-108939795152046/">ZOOM
                                        sports updates</a></blockquote>
                            </div>
                        </div>


                    </div>



                </div>
            </div>
            <div class="news-letter">
                <div class="new-letter-wrapper">
                    <% if(messages.user){%>
                    <h1 class="thanks">
                        Thank you for subscribing!
                    </h1>

                    <% }else{%>
                    <i class="fas fa-envelope"></i>
                    <h1>NewsLetter Sign-up</h1>
                    <p>Subscribe to our news letter for latest sports news. Let's stay updated!</p>
                    <form action="/" method="post" id="newsletter-form">
                        <div class="news-letter-inner">
                            <input type="text" placeholder="Enter Your Email Address" name="subscriber" id="email"
                                autocomplete="off">
                            <button type="submit" class="send-btn" id="submit">Subscribe Now</button>
                        </div>
                        <small class="nl">Error Message</small>

                    </form>

                    <% } %>
                </div>
            </div>

            <div class="ads-container" style="margin:0 0 1.5rem ;">
                <script async
                    src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7287147359584031"
                    crossorigin="anonymous"></script>
                <!-- banner ads -->
                <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-7287147359584031"
                    data-ad-slot="9234749507" data-ad-format="auto" data-full-width-responsive="true"></ins>
                <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
            </div>


        </div>

    </section>







    <%- include('partials/footer') %>