<%- include("partials/header") %>

<section id="header-container" class="blog-header">
    <div class="wrapper-enclosure-blog">
        <div class="blog-nav">
            <span><a href="/">Home</a></span>
            <i class="fas fa-chevron-right"></i>
            <span class="focus-nav"><%= cat %></span>
        </div>
        <div class="blog-body-wrapper">
            <% if(stories != ""){%>
            <div id="long" class="blog-body-content">
                <div class="blog-body-popular">
                    <h1 class="cat-title">Category : <span><%= cat %> </span></h1>
                    <div class="latest-posts">
                        <% stories.forEach(story =>{%>
                        <div class="post">
                            <img src="<%= story.photo %> " alt="post image">
                            <h5 class="cat-name"><span class="left-span">Featured</span> <span><%= story.category %> </span></h5>
                            <h3 title="<%= story.title %> "><%= story.title %> </h3>
                            <h5 class="date"> <span>by <strong><%= story.author %></strong></span> <span><%= story.createdAt %>
                                </span> </h5>
                            <a class="read-more" href="/stories/post/<%= story.slug %> ">Read more <i
                                    class="fas fa-angle-double-right"></i></a>
                        </div>
                        <%}) %>

                        <div class="post">
                            <img src="/dune.jpeg" alt="post image">
                            <h5 class="cat-name"><span class="left-span">Featured</span> <span>Movie</span></h5>
                            <h3>Lionel Messi scores spectacular bicycle kick as PSG rout Clermont in Ligue 1 opener. Lionel Messi scores spectacular bicycle kick as PSG rout Clermont in Ligue 1 opener</h3>
                            <h5 class="date"> <span>by John Doe</span> <span>July 11, 2021</span> </h5>
                            <a class="read-more" href="#">Read more <i class="fas fa-angle-double-right"></i></a>
                        </div>
                        <div class="post">
                            <img src="/dune.jpeg" alt="post image">
                            <h5 class="cat-name"><span class="left-span">Featured</span> <span>Movie</span></h5>
                            <h3>Lionel Messi scores spectacular bicycle kick as PSG rout Clermont in Ligue 1 opener</h3>
                            <h5 class="date"> <span>by John Doe</span> <span>July 11, 2021</span> </h5>
                            <a class="read-more" href="#">Read more <i class="fas fa-angle-double-right"></i></a>
                        </div>
                        <div class="post">
                            <img src="/dune.jpeg" alt="post image">
                            <h5 class="cat-name"><span class="left-span">Featured</span> <span>Movie</span></h5>
                            <h3>Lionel Messi scores spectacular bicycle kick as PSG rout Clermont in Ligue 1 opener</h3>
                            <h5 class="date"> <span>by John Doe</span> <span>July 11, 2021</span> </h5>
                            <a class="read-more" href="#">Read more <i class="fas fa-angle-double-right"></i></a>
                        </div>
                        <div class="post">
                            <img src="/dune.jpeg" alt="post image">
                            <h5 class="cat-name"><span class="left-span">Featured</span> <span>Movie</span></h5>
                            <h3>Lionel Messi scores spectacular bicycle kick as PSG rout Clermont in Ligue 1 opener</h3>
                            <h5 class="date"> <span>by John Doe</span> <span>July 11, 2021</span> </h5>
                            <a class="read-more" href="#">Read more <i class="fas fa-angle-double-right"></i></a>
                        </div>
                        <div class="post">
                            <img src="/dune.jpeg" alt="post image">
                            <h5 class="cat-name"><span class="left-span">Featured</span> <span>Movie</span></h5>
                            <h3>Lionel Messi scores spectacular bicycle kick as PSG rout Clermont in Ligue 1 opener</h3>
                            <h5 class="date"> <span>by John Doe</span> <span>July 11, 2021</span> </h5>
                            <a class="read-more" href="#">Read more <i class="fas fa-angle-double-right"></i></a>
                        </div>
                        <div class="post">
                            <img src="/dune.jpeg" alt="post image">
                            <h5 class="cat-name"><span class="left-span">Featured</span> <span>Movie</span></h5>
                            <h3>Lionel Messi scores spectacular bicycle kick as PSG rout Clermont in Ligue 1 opener</h3>
                            <h5 class="date"> <span>by John Doe</span> <span>July 11, 2021</span> </h5>
                            <a class="read-more" href="#">Read more <i class="fas fa-angle-double-right"></i></a>
                        </div>
                        <div class="post">
                            <img src="/dune.jpeg" alt="post image">
                            <h5 class="cat-name"><span class="left-span">Featured</span> <span>Movie</span></h5>
                            <h3>Lionel Messi scores spectacular bicycle kick as PSG rout Clermont in Ligue 1 opener</h3>
                            <h5 class="date"> <span>by John Doe</span> <span>July 11, 2021</span> </h5>
                            <a class="read-more" href="#">Read more <i class="fas fa-angle-double-right"></i></a>
                        </div>
                    </div>
                    <div class="page-controls blog-page-controls">
                        <a href="#" class="prev-page swiper-btn blog-control-btn" role="button"><i class="fas fa-arrow-left prev-indicator"></i> </a>
                        <a href="#" class="next-page swiper-btn blog-control-btn" role="button" value="next-page"><i class="fas fa-arrow-right next-indicator"></i></a>
                    </div>

                    <div class="tv-shows">
                        <a href="/" class="cat-title">Recent Posts<i class="fas fa-chevron-right"></i></a>
                        <div class="latest-posts tv-news">
                            <div class="post">
                                <img src="/dune.jpeg" alt="post image">
                                <h5 class="cat-name"><span class="left-span">Featured</span> <span>Movie</span></h5>
                                <h3>Lionel Messi scores spectacular bicycle kick as PSG rout Clermont in Ligue 1 opener</h3>
                                <h5 class="date"> <span>by <strong>John Doe</strong></span> <span>July 11, 2021</span> </h5>
                                <a class="read-more" href="#">Read more <i class="fas fa-angle-double-right"></i></a>
                            </div>
                            <div class="post">
                                <img src="/dune.jpeg" alt="post image">
                                <h5 class="cat-name"><span class="left-span">Featured</span> <span>Movie</span></h5>
                                <h3>Lionel Messi scores spectacular bicycle kick as PSG rout Clermont in Ligue 1 opener</h3>
                                <h5 class="date"> <span>by John Doe</span> <span>July 11, 2021</span> </h5>
                                <a class="read-more" href="#">Read more <i class="fas fa-angle-double-right"></i></a>
                            </div>
                            <div class="post">
                                <img src="/dune.jpeg" alt="post image">
                                <h5 class="cat-name"><span class="left-span">Featured</span> <span>Movie</span></h5>
                                <h3>Lionel Messi scores spectacular bicycle kick as PSG rout Clermont in Ligue 1 opener</h3>
                                <h5 class="date"> <span>by John Doe</span> <span>July 11, 2021</span> </h5>
                                <a class="read-more" href="#">Read more <i class="fas fa-angle-double-right"></i></a>
                            </div>
                            <div class="post">
                                <img src="/dune.jpeg" alt="post image">
                                <h5 class="cat-name"><span class="left-span">Featured</span> <span>Movie</span></h5>
                                <h3>Lionel Messi scores spectacular bicycle kick as PSG rout Clermont in Ligue 1 opener</h3>
                                <h5 class="date"> <span>by John Doe</span> <span>July 11, 2021</span> </h5>
                                <a class="read-more" href="#">Read more <i class="fas fa-angle-double-right"></i></a>
                            </div>
                            <div class="post">
                                <img src="/dune.jpeg" alt="post image">
                                <h5 class="cat-name"><span class="left-span">Featured</span> <span>Movie</span></h5>
                                <h3>Lionel Messi scores spectacular bicycle kick as PSG rout Clermont in Ligue 1 opener</h3>
                                <h5 class="date"> <span>by John Doe</span> <span>July 11, 2021</span> </h5>
                                <a class="read-more" href="#">Read more <i class="fas fa-angle-double-right"></i></a>
                            </div>
                            <div class="post">
                                <img src="/dune.jpeg" alt="post image">
                                <h5 class="cat-name"><span class="left-span">Featured</span> <span>Movie</span></h5>
                                <h3>Lionel Messi scores spectacular bicycle kick as PSG rout Clermont in Ligue 1 opener</h3>
                                <h5 class="date"> <span>by John Doe</span> <span>July 11, 2021</span> </h5>
                                <a class="read-more" href="#">Read more <i class="fas fa-angle-double-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <% }else{%>
            <p>There are no stories in this category yet</p>
            <% } %>
            <div id="short" class="blog-body-bio">
                <h1 class="cat-title">About Us</h1>
                <div class="writer-bio-wrapper">
                    <img src="/banner.jpeg" alt="author-image">
                    <div class="writer-bio-content">
                        <h4>Get to Know us</h4>
                        <p>Welcome to what2watch.net, your number one source for all things movies. We're dedicated
                            to providing you the very best of movies, with an emphasis on excellent user interface
                            and experience...</p>
                        <a class="read-more" href="/about-us">Read more <i class="fas fa-angle-double-right"></i></a>
                    </div>

                </div>
                <div class="blog-social">
                    <h1 class="cat-title">Keep in touch</h1>
                    <div class="blog-social-inner">
                        <a href="https://www.facebook.com/what2watch.net" target="_blank" class="blog-social-link"><i
                                class="fab fa-facebook-f"></i> Facebook</a>
                        <a href="https://www.instagram.com/what2watch4real/" target="_blank" class="blog-social-link"><i
                                class="fab fa-instagram"></i>Instagram</a>
                        <a href="mailto:what2watch4real@gmail.com" target="_blank" class="blog-social-link"><i
                                class="fas fa-envelope"></i>G-mail</a>
                        <a href="https://youtube.com/channel/UCR5dmDeBAwWdh-IC6dol1gA" target="_blank"
                            class="blog-social-link"><i class="fab fa-youtube"></i>Youtube</a>
                    </div>
                </div>
                <div class="cats">
                    <h1 class="cat-title">Categories</h1>
                    <div class="post-cat-container">
                        <ul>
                            <% if(sortedCats){%>
                            <% for(let cat in sortedCats){%>
                            <li><a href="/category/<%=cat%>"><%= cat %> </a><span>(<%= sortedCats[cat] %>)</span></li>
                            <% } %>
                            <% } %>
                        </ul>

                    </div>
                </div>
                <div>
                    <div class="facebook-page">
                        <h1 class="cat-title">Facebook Feed</h1>
                        <div class="facebook-feed" style="width:100% ;">
                            <div class="fb-page" data-href="https://www.facebook.com/what2watch.net"
                                data-tabs="timeline" data-width="700px" data-height="550px" data-small-header="true"
                                data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
                                <blockquote cite="https://www.facebook.com/what2watch.net"
                                    class="fb-xfbml-parse-ignore"><a
                                        href="https://www.facebook.com/what2watch.net">What2Watch.Net</a></blockquote>
                            </div>
                        </div>
                    </div>
                    <div class="instagram-page">
                        <h1 class="cat-title">On Instagram</h1>
                        <div class="ig-cards">
                            <a href="#">
                                <img src="/author-img.jpg" alt="">
                            </a>
                            <a href="#">
                                <img src="/author-img.jpg" alt="">
                            </a>
                            <a href="#">
                                <img src="/author-img.jpg" alt="">
                            </a>
                            <a href="#">
                                <img src="/author-img.jpg" alt="">
                            </a>
                            <a href="#">
                                <img src="/author-img.jpg" alt="">
                            </a>
                            <a href="#">
                                <img src="/author-img.jpg" alt="">
                            </a>
                        </div>
                    </div>


                </div>



            </div>
        </div>
        <div class="news-letter">
            <div class="new-letter-wrapper">
                <% if(userEmail != ''){%>
                <h1 class="thanks">
                    Thank you for subscribing!
                </h1>

                <% }else{%>
                <i class="fas fa-paper-plane"></i>
                <h1>News Letter Sign-up</h1>
                <p>Subscribe to our news letter for latest sports news. Let's stay updated! l</p>
                <form action="/" method="post" id="newsletter-form">
                    <div class="news-letter-inner">
                        <input type="text" placeholder="Enter Your Email Address" name="subscriber" id="email"
                            autocomplete="off">
                        <button type="submit" class="send-btn" id="submit">Subscribe Now</button>
                    </div>
                    <small class="nl">Error Message</small>

                </form>

                <% } %>
            </div>
        </div>


    </div>

</section>







<%- include('partials/footer') %>