<%- include("partials/profileheader") %>

    <section id="header-container" class="blog-header">
        <div class="wrapper-enclosure-blog">
            <div class="form-container-wrapper">
                <% if(profile){%>
                <div class="forms-container edit-profile-form">

                    <div class="actions-wrapper">
                        <form method="POST" action="/users/profile/<%=profile._id%>?_method=PUT"
                            enctype="multipart/form-data">
                            <div class="form-title float">
                                <div class="form-title-header">
                                    <i class="history fas fa-long-arrow-alt-left"></i>
                                    <h3>Edit Profile</h3>
                                    <h5></h5>
                                </div>
                                <div class="upload-profile-img">
                                    <div class="profile-image-enclosure">
                                        <% if(profile.photo){%>
                                        <img src="<%= profile.photo%>" alt="" class="profile-avatar">
                                        <% }else{%>
                                        <img src="/profile-pic.png" alt="" class="profile-avatar">
                                        <% } %>
                                        <div class="upload-input">
                                            <input type="file" title="profile image" name="photo" id="profile-pic">
                                            <i class="fas fa-camera"></i>
                                        </div>
                                    </div>

                                </div>

                            </div>
                            <div class="actions-input">
                                <i class="fas fa-user-alt"></i>
                                <% if(profile.name){%>
                                <input type="text" name="name" id="clientname" placeholder="username"
                                    value="<%=profile.name%>">
                                <%} else{%>
                                <input type="text" name="name" id="clientname" placeholder="username">
                                <% } %>
                            </div>
                            <div class="actions-input">
                                <i class="fas fa-envelope"></i>
                                <input type="text" name="username" id="email" placeholder="your email"
                                    value="<%= profile.username %> ">
                            </div>
                            <div class="actions-input">
                                <i class="fas fa-lock"></i>
                                <input type="password" name="password" id="clientpassword" placeholder="new password?"
                                    class="pass-input">
                                <div class="pass-reveal">
                                    <i class="fas fa-eye open-eye"></i>
                                    <i class="fas fa-eye-slash black-eye"></i>
                                </div>
                            </div>
                            <div class="actions-input">
                                <i class="fas fa-user-tag"></i>
                                <input type="text" name="role" id="role" placeholder="Role" value="<%= profile.role %>">
                            </div>
                            <div class="actions-input">
                                <i class="fab fa-facebook-f"></i>
                                <input type="text" name="facebook" id="facebook" placeholder="facebook"
                                    value="<%= profile.facebook%>">
                            </div>
                            <div class="actions-input">
                                <i class="fab fa-instagram"></i>
                                <input type="text" name="instagram" id="insta" placeholder="instagram"
                                    value="<%= profile.instagram%>">
                            </div>
                            <div class="actions-input">
                                <i class="fab fa-twitter"></i>
                                <input type="text" name="twitter" id="twitter" placeholder="twitter"
                                    value="<%= profile.twitter%>">
                            </div>
                            <div class="actions-input" style="margin-bottom: 1.5rem;">
                                <i class="fas fa-address-card"></i>
                                <textarea class="textarea" name="bio" id="about-you" cols="5" rows="2"
                                    placeholder="Describe youself..."><%= profile.bio%></textarea>
                            </div>
                            <button type="submit" class="send-btn">Edit Profile</button>
                        </form>
                        <p>By continuing you agree to the terms and conditions and privacy policy. </p>


                    </div>

                </div>

                <% } %>
            </div>



        </div>



    </section>
    <footer id="footer" class="blog-footer">
        <div class="blog-nav-enclosure">
            <div class="footer-content">
                <div class="copyright-container">
                    <div>
                        <span class="copyright"><i class="far fa-copyright"></i></span>
                        <span>All rights reserved.</span>

                    </div>
                </div>
                <div class="important-links">
                    <a href="/">Home</a>
                    <a href="/about-us">About Us</a>
                    <a href="/privacy">Privacy Policy</a>
                </div>
                <div class="socials">
                    <a href="https://www.facebook.com/ZOOM-sports-updates-108939795152046/" target="_blank"
                        class="social-icon facebook"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" target="_blank" class="social-icon ig"><i class="fab fa-instagram"></i></a>
                    <a href="mailto:info@zoom-sportz.com" target="_blank" class="social-icon mail"><i class="fas fa-envelope"></i></a>
                    <a href="#" target="_blank" class="social-icon yt"><i class="fab fa-youtube"></i></a>

                </div>

            </div>
            <div class="footer-sponsor">
                <a
                    href="https://www.digitalocean.com/?refcode=9487c6cecfd5&utm_campaign=Referral_Invite&utm_medium=Referral_Program&utm_source=badge"><img
                        src="https://web-platforms.sfo2.digitaloceanspaces.com/WWW/Badge%203.svg"
                        alt="DigitalOcean Referral Badge" /></a>
            </div>
        </div>

    </footer>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/simplebar@5.3.8/dist/simplebar.min.js"></script>
    <!-- embla -->
    <script src="/embla.js"></script>
    <script src="/autoplay.js"></script>
    <script src="/login.js"></script>
    <script src="/validate.js"></script>
    <script src="/index.js"></script>
</body>

</html>