<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#f7f9fa">
    <title><%= title %> | Zoom Sportz</title>
    <meta name="description"
        content="Follow current Livescores for English Premier League, Champions League, Elite one Championship Cameroon, Bundesliga, Laliga, Serie A, League 1, Eredivisie and more">
    <meta name="keywords"
        content="Laliga, English premiere leaque, bundesliga, sports, football, soccer, english soccer, spanish league">
    <!--favicon-->
    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
    <link rel="manifest" href="/images/site.webmanifest">
    <link rel="mask-icon" href="/images/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,700;1,300&family=Noto+Serif:ital,wght@0,400;0,700;1,400&family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,600&family=Roboto+Slab:wght@400;500&family=Roboto:wght@300;400;500;700;900&family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;1,400&family=Poppins:wght@300;400;500;600;700;800&family=Baloo+Thambi+2:wght@500;600;700;800&family=Inter+Tight:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500&display=swap"
        rel="stylesheet">
    <script src="https://unpkg.com/embla-carousel/embla-carousel.umd.js"></script>
    <script src="https://kit.fontawesome.com/907d5275a6.js" crossorigin="anonymous"></script>
    <!-- <script src="https://cdn.ckeditor.com/ckeditor5/34.1.0/classic/ckeditor.js"></script> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simplebar@5.3.8/dist/simplebar.css" />
    <link rel="stylesheet" href="https://widgets.sportmonks.com/css/app.css">
    <link rel="stylesheet" href="/Css/ckstyles.css">
    <link rel="stylesheet" href="/Css/editor.css">
    <link rel="stylesheet" href="/Css/embla.css">
    <link rel="stylesheet" href="/Css/login.css">
    <link rel="stylesheet" href="/Css/blog.css">
    <link rel="stylesheet" href="/Css/styles.css">
    <noscript>
        <style>
            /**
          * Reinstate scrolling for non-JS clients
          */
            .simplebar-content-wrapper {
                overflow: auto;
            }
        </style>
    </noscript>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-00X58N673T"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'G-00X58N673T');
    </script>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7287147359584031"
        crossorigin="anonymous"></script>
</head>

<body>
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous"
        src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v14.0&appId=593644877942199&autoLogAppEvents=1"
        nonce="55i7sfzH"></script>

    <nav class="navigation">
        <div class="blog-nav-enclosure">
            <div class="logo-and-links">
                <div class="logo">
                    <div class="burger blog-burger">
                        <div class="line1"></div>
                        <div class="line2"></div>
                        <div class="line3"></div>
                    </div>
                    <a href="/">
                        <div class="logo-wrapper">
                            <img src="/zs-logo.png" alt="Zoom Sportz">
                            <!-- <h1>Zoom Sportz</h1> -->
                        </div>

                    </a>
                </div>

                <ul class="nav_links">
                    <li class="nav_link"> <a href="/">Home</a> </li>
                    <li class="nav_link"> <a href="/odds-comparison">Odds-comparison</a> </li>
                    <li class="nav_link"> <a href="/live-preview">Livescores</a> </li>
                    <li class="nav_link"> <a href="/highlights">Highlights</a> </li>
                    <li class="nav_link"> <a href="/tables">Tables</a> </li>
                    <li class="nav_link"> <a href="/league" class="<%= live %> ">League</a> </li>


                    <% if(user){%>
                    <% if(user.privilege === "admin"){%>
                    <li class="nav_link"> <a href="/users/admin/dashboard/<%= user._id %>">Dashboard</a> </li>
                    <% }else{%>
                    <li class="nav_link"> <a href="/users/dashboard/<%= user._id %>">Dashboard</a> </li>
                    <% } %>
                    <% } %>
                </ul>

            </div>

        </div>
    </nav>

    <div class="side-drawer" data-simplebar>
        <i class="fas fa-times"></i>
        <div class="side-drawer-inner">
            <div class="main-category discover-movies">
                <div class="category-title">
                    <h2 class="discover">Menu</h2>
                </div>
                <div class="category-types">
                    <ul class="categories">
                        <li><a class="active-cat" href="/">Home</a></li>
                        <li><a class="active-cat" href="/odds-comparison">Odds-comparison</a> </li>
                        <li><a class="active-cat" href="/live-preview">Livescores</a> </li>
                        <li><a class="active-cat" href="/highlights">Highlights</a></li>
                        <li><a class="active-cat" href="/tables">Tables</a></li>
                        <li><a class="active-cat" href="/league">League</a></li>
                        <% if(user){%>
                        <% if(user.privilege === "admin"){%>
                        <li><a class="active-cat" href="/users/admin/dashboard/<%= user._id %>">Dashboard</a> </li>
                        <% }else{%>
                        <li> <a class="active-cat" href="/users/dashboard/<%= user._id %>">Dashboard</a> </li>
                        <% } %>
                        <% } %>
                    </ul>
                </div>

            </div>


            <div class="main-category discover-movies">
                <div class="category-title">
                    <h2 class="discover">Categories</h2>
                </div>
                <div class="category-types">
                    <ul class="categories">
                        <% if(sortedCats){%>
                        <% for(let cat in sortedCats){%>
                        <li><i class="fas fa-futbol"></i><a class="active-cat" href="/category/<%=cat%>"><%= cat %></a>
                        </li>
                        <% } %>
                        <% } %>
                    </ul>
                </div>

            </div>

        </div>
        <div class="side-drawer-logo">
            <img src="/zs-logo.png" alt="Zoom Sportz">
        </div>

    </div>
    <section class="side-drawer-backdrop"></section>

    <section id="header-container" class="blog-header">
        <div class="wrapper-enclosure-blog live-preview-wrapper">
            <div class="livescore-wrapper">
                <div class="livescore-wrapper">
                    <div class="select-box" style="margin-bottom: 1rem; max-width: 400px;">
                        <div class="options-container">
                            <div class="option league-option">
                                <input type="radio" class="radio" id="action" name="movies" />
                                <label for="Europa">Europa League</label>
                            </div>
                            <div class="option league-option">
                                <input type="radio" class="radio" id="shows" name="shows" />
                                <label for="Premier League">English Premier League</label>
                            </div>
                            <div class="option league-option">
                                <input type="radio" class="radio" id="pop-culture" name="popculture" />
                                <label for="CAF Champions League">CAF Champions League</label>
                            </div>
                            <div class="option league-option">
                                <input type="radio" class="radio" id="marvel-universe" name="marvel" />
                                <label for="Europa Conference League">Europa Conference League</label>
                            </div>
                            <div class="option league-option">
                                <input type="radio" class="radio" id="dc" name="dc" />
                                <label for="Champions League">UEFA Champions League</label>
                            </div>
                            <div class="option league-option">
                                <input type="radio" class="radio" id="streaming" name="streaming" />
                                <label for="UEFA Nations League">UEFA Nations League</label>
                            </div>
                            <div class="option league-option">
                                <input type="radio" class="radio" id="box-office" name="boxOffice" />
                                <label for="Pro League">Pro League</label>
                            </div>
                            <div class="option league-option">
                                <input type="radio" class="radio" id="comedy" name="comedy" />
                                <label for="Primera Division ">Primera Division</label>
                            </div>
                            <div class="option league-option">
                                <input type="radio" class="radio" id="nations-league" name="nations-league" />
                                <label for="Serie A">Serie A</label>
                            </div>
                            <div class="option league-option">
                                <input type="radio" class="radio" id="casting" name="casting" />
                                <label for="Bundesliga">Bundesliga</label>
                            </div>
                            <div class="option league-option">
                                <input type="radio" class="radio" id="caf" name="caf" />
                                <label for="League 1">League 1</label>
                            </div>
                            <div class="option league-option">
                                <input type="radio" class="radio" id="fecafoot" name="fecafoot" />
                                <label for="Eredivisie">Eredivisie</label>
                            </div>
                            <div class="option league-option">
                                <input type="radio" class="radio" id="fifa" name="fifa" />
                                <label for="Elite One Cameroon">Elite One Cameroon</label>
                            </div>
                        </div>

                        <div class="selected margin-600" style="border-radius: 5px;">
                            <input type="text" name="category" id="change-table" value="English Premier League"
                                readonly>
                        </div>
                    </div>
                    <div>
                        <div class="tables" data-name="Elite One Cameroon">

                            <div id="oddspedia-widget-competition-league-1225">
                                <script>
                                    window.oddspediaWidgetCompetitionLeague1225 = {
                                        api_token: "<%=token%>",
                                        type: "competition",
                                        domain: "zoom-sportz.com",
                                        selector: "oddspedia-widget-competition-league-1225",
                                        width: "0",
                                        theme: "0",
                                        odds_type: "1",
                                        language: "en",
                                        primary_color: "#283E5B",
                                        accent_color: "#00B1FF",
                                        font: "Roboto",
                                        league_id: "1225",
                                        limit: "8",
                                        show_odds: "true",
                                    };
                                </script>
                                <script
                                    src="https://widgets.oddspedia.com/js/widget/init.js?widgetId=oddspediaWidgetCompetitionLeague1225"
                                    async></script>
                            </div>


                        </div>
                        <div class="tables" data-name="English Premier League">

                            <div id="oddspedia-widget-competition-league-627">
                                <script>
                                    window.oddspediaWidgetCompetitionLeague627 = {
                                        api_token: "<%=token%>",
                                        type: "competition",
                                        domain: "zoom-sportz.com",
                                        selector: "oddspedia-widget-competition-league-627",
                                        width: "0",
                                        theme: "0",
                                        odds_type: "1",
                                        language: "en",
                                        primary_color: "#37003C",
                                        accent_color: "#FE2982",
                                        font: "Roboto",
                                        league_id: "627",
                                        limit: "8",
                                        show_odds: "true",
                                    };
                                </script>
                                <script
                                    src="https://widgets.oddspedia.com/js/widget/init.js?widgetId=oddspediaWidgetCompetitionLeague627"
                                    async></script>
                            </div>

                        </div>
                        <div class="tables" data-name="UEFA Champions League">

                            <div id="oddspedia-widget-competition-league-1">
                                <script>
                                    window.oddspediaWidgetCompetitionLeague1 = {
                                        api_token: "<%=token%>",
                                        type: "competition",
                                        domain: "zoom-sportz.com",
                                        selector: "oddspedia-widget-competition-league-1",
                                        width: "0",
                                        theme: "0",
                                        odds_type: "1",
                                        language: "en",
                                        primary_color: "#051192",
                                        accent_color: "#0E3AFF",
                                        font: "Roboto",
                                        league_id: "1",
                                        limit: "8",
                                        show_odds: "true",
                                    };
                                </script>
                                <script
                                    src="https://widgets.oddspedia.com/js/widget/init.js?widgetId=oddspediaWidgetCompetitionLeague1"
                                    async></script>
                            </div>


                        </div>
                        <div class="tables" data-name="Europa League">

                            <div id="oddspedia-widget-competition-league-827">
                                <script>
                                    window.oddspediaWidgetCompetitionLeague827 = {
                                        api_token: "<%=token%>",
                                        type: "competition",
                                        domain: "zoom-sportz.com",
                                        selector: "oddspedia-widget-competition-league-827",
                                        width: "0",
                                        theme: "0",
                                        odds_type: "1",
                                        language: "en",
                                        primary_color: "#283E5B",
                                        accent_color: "#00B1FF",
                                        font: "Roboto",
                                        league_id: "827",
                                        limit: "8",
                                        show_odds: "true",
                                    };
                                </script>
                                <script
                                    src="https://widgets.oddspedia.com/js/widget/init.js?widgetId=oddspediaWidgetCompetitionLeague827"
                                    async></script>
                            </div>


                        </div>
                        <div class="tables" data-name="CAF Champions League">

                            <div id="oddspedia-widget-competition-league-1220">
                                <script>
                                    window.oddspediaWidgetCompetitionLeague1220 = {
                                        api_token: "<%=token%>",
                                        type: "competition",
                                        domain: "zoom-sportz.com",
                                        selector: "oddspedia-widget-competition-league-1220",
                                        width: "0",
                                        theme: "0",
                                        odds_type: "1",
                                        language: "en",
                                        primary_color: "#283E5B",
                                        accent_color: "#00B1FF",
                                        font: "Roboto",
                                        league_id: "1220",
                                        limit: "8",
                                        show_odds: "true",
                                    };
                                </script>
                                <script
                                    src="https://widgets.oddspedia.com/js/widget/init.js?widgetId=oddspediaWidgetCompetitionLeague1220"
                                    async></script>
                            </div>


                        </div>
                        <div class="tables" data-name="Bundesliga">

                            <div id="oddspedia-widget-competition-league-943">
                                <script>
                                    window.oddspediaWidgetCompetitionLeague943 = {
                                        api_token: "<%=token%>",
                                        type: "competition",
                                        domain: "zoom-sportz.com",
                                        selector: "oddspedia-widget-competition-league-943",
                                        width: "0",
                                        theme: "0",
                                        odds_type: "1",
                                        language: "en",
                                        primary_color: "#283E5B",
                                        accent_color: "#00B1FF",
                                        font: "Roboto",
                                        league_id: "943",
                                        limit: "8",
                                        show_odds: "true",
                                    };
                                </script>
                                <script
                                    src="https://widgets.oddspedia.com/js/widget/init.js?widgetId=oddspediaWidgetCompetitionLeague943"
                                    async></script>
                            </div>


                        </div>
                        <div class="tables" data-name="Primera Division">

                            <div id="oddspedia-widget-competition-league-2">
                                <script>
                                    window.oddspediaWidgetCompetitionLeague2 = {
                                        api_token: "<%=token%>",
                                        type: "competition",
                                        domain: "zoom-sportz.com",
                                        selector: "oddspedia-widget-competition-league-2",
                                        width: "0",
                                        theme: "0",
                                        odds_type: "1",
                                        language: "en",
                                        primary_color: "#0C1B23",
                                        accent_color: "#E32D38",
                                        font: "Roboto",
                                        league_id: "2",
                                        limit: "8",
                                        show_odds: "true",
                                    };
                                </script>
                                <script
                                    src="https://widgets.oddspedia.com/js/widget/init.js?widgetId=oddspediaWidgetCompetitionLeague2"
                                    async></script>
                            </div>



                        </div>
                        <div class="tables" data-name="Serie A">

                            <div id="oddspedia-widget-competition-league-31">
                                <script>
                                    window.oddspediaWidgetCompetitionLeague31 = {
                                        api_token: "<%=token%>",
                                        type: "competition",
                                        domain: "zoom-sportz.com",
                                        selector: "oddspedia-widget-competition-league-31",
                                        width: "0",
                                        theme: "0",
                                        odds_type: "1",
                                        language: "en",
                                        primary_color: "#1d125d",
                                        accent_color: "#005bff",
                                        font: "Roboto",
                                        league_id: "31",
                                        limit: "8",
                                        show_odds: "true",
                                    };
                                </script>
                                <script
                                    src="https://widgets.oddspedia.com/js/widget/init.js?widgetId=oddspediaWidgetCompetitionLeague31"
                                    async></script>
                            </div>


                        </div>
                        <div class="tables" data-name="Eredivisie">

                            <div id="oddspedia-widget-competition-league-143">
                                <script>
                                    window.oddspediaWidgetCompetitionLeague143 = {
                                        api_token: "<%=token%>",
                                        type: "competition",
                                        domain: "zoom-sportz.com",
                                        selector: "oddspedia-widget-competition-league-143",
                                        width: "0",
                                        theme: "0",
                                        odds_type: "1",
                                        language: "en",
                                        primary_color: "#283E5B",
                                        accent_color: "#00B1FF",
                                        font: "Roboto",
                                        league_id: "143",
                                        limit: "8",
                                        show_odds: "true",
                                    };
                                </script>
                                <script
                                    src="https://widgets.oddspedia.com/js/widget/init.js?widgetId=oddspediaWidgetCompetitionLeague143"
                                    async></script>
                            </div>


                        </div>
                        <div class="tables" data-name="League 1">

                            <div id="oddspedia-widget-competition-league-24">
                                <script>
                                    window.oddspediaWidgetCompetitionLeague24 = {
                                        api_token: "<%=token%>",
                                        type: "competition",
                                        domain: "zoom-sportz.com",
                                        selector: "oddspedia-widget-competition-league-24",
                                        width: "0",
                                        theme: "0",
                                        odds_type: "1",
                                        language: "en",
                                        primary_color: "#0A1C3E",
                                        accent_color: "#CCFB06",
                                        font: "Roboto",
                                        league_id: "24",
                                        limit: "8",
                                        show_odds: "true",
                                    };
                                </script>
                                <script
                                    src="https://widgets.oddspedia.com/js/widget/init.js?widgetId=oddspediaWidgetCompetitionLeague24"
                                    async></script>
                            </div>


                        </div>

                        <div class="tables" data-name="Europa Conference League">

                            <div id="oddspedia-widget-competition-league-10264">
                                <script>
                                    window.oddspediaWidgetCompetitionLeague10264 = {
                                        api_token: "<%=token%>",
                                        type: "competition",
                                        domain: "zoom-sportz.com",
                                        selector: "oddspedia-widget-competition-league-10264",
                                        width: "0",
                                        theme: "0",
                                        odds_type: "1",
                                        language: "en",
                                        primary_color: "#283E5B",
                                        accent_color: "#00B1FF",
                                        font: "Roboto",
                                        league_id: "10264",
                                        limit: "8",
                                        show_odds: "true",
                                    };
                                </script>
                                <script
                                    src="https://widgets.oddspedia.com/js/widget/init.js?widgetId=oddspediaWidgetCompetitionLeague10264"
                                    async></script>
                            </div>



                        </div>
                        <div class="tables" data-name="Pro League">

                            <div id="oddspedia-widget-competition-league-13">
                                <script>
                                    window.oddspediaWidgetCompetitionLeague13 = {
                                        api_token: "<%=token%>",
                                        type: "competition",
                                        domain: "zoom-sportz.com",
                                        selector: "oddspedia-widget-competition-league-13",
                                        width: "0",
                                        theme: "0",
                                        odds_type: "1",
                                        language: "en",
                                        primary_color: "#283E5B",
                                        accent_color: "#00B1FF",
                                        font: "Roboto",
                                        league_id: "13",
                                        limit: "8",
                                        show_odds: "true",
                                    };
                                </script>
                                <script
                                    src="https://widgets.oddspedia.com/js/widget/init.js?widgetId=oddspediaWidgetCompetitionLeague13"
                                    async></script>
                            </div>


                        </div>
                        <div class="tables" data-name="UEFA Nations League">

                            <div id="oddspedia-widget-competition-league-6925">
                                <script>
                                    window.oddspediaWidgetCompetitionLeague6925 = {
                                        api_token: "<%=token%>",
                                        type: "competition",
                                        domain: "zoom-sportz.com",
                                        selector: "oddspedia-widget-competition-league-6925",
                                        width: "0",
                                        theme: "0",
                                        odds_type: "1",
                                        language: "en",
                                        primary_color: "#283E5B",
                                        accent_color: "#00B1FF",
                                        font: "Roboto",
                                        league_id: "6925",
                                        limit: "8",
                                        show_odds: "true",
                                    };
                                </script>
                                <script
                                    src="https://widgets.oddspedia.com/js/widget/init.js?widgetId=oddspediaWidgetCompetitionLeague6925"
                                    async></script>
                            </div>


                        </div>

                    </div>

                </div>





            </div>


            <div class="ads-container">
                <script async
                    src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7287147359584031"
                    crossorigin="anonymous"></script>
                <!-- banner ads -->
                <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-7287147359584031"
                    data-ad-slot="9234749507" data-ad-format="auto" data-full-width-responsive="true"></ins>
                <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
            </div>




        </div>

    </section>







    <%- include('partials/footer') %>