<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#f7f9fa">
    <title><%= title %> | Zoom Sportz</title>
    <meta name="description"
        content="Free Football - Soccer odds comparison for English Premier League, UEFA Champions League, Laliga, Bundesliga and more">
    <meta name="keywords"
        content="Laliga, English premiere leaque, bundesliga, sports, football, soccer, english soccer, spanish league">
    <!--favicon-->
    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
    <link rel="manifest" href="/images/site.webmanifest">
    <link rel="mask-icon" href="/images/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,700;1,300&family=Noto+Serif:ital,wght@0,400;0,700;1,400&family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,600&family=Roboto+Slab:wght@400;500&family=Roboto:wght@300;400;500;700;900&family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;1,400&family=Poppins:wght@300;400;500;600;700;800&family=Baloo+Thambi+2:wght@500;600;700;800&family=Inter+Tight:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500&display=swap"
        rel="stylesheet">
    <script src="https://unpkg.com/embla-carousel/embla-carousel.umd.js"></script>
    <script src="https://kit.fontawesome.com/907d5275a6.js" crossorigin="anonymous"></script>
    <!-- <script src="https://cdn.ckeditor.com/ckeditor5/34.1.0/classic/ckeditor.js"></script> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simplebar@5.3.8/dist/simplebar.css" />
    <link rel="stylesheet" href="https://widgets.sportmonks.com/css/app.css">
    <link rel="stylesheet" href="/Css/ckstyles.css">
    <link rel="stylesheet" href="/Css/editor.css">
    <link rel="stylesheet" href="/Css/embla.css">
    <link rel="stylesheet" href="/Css/login.css">
    <link rel="stylesheet" href="/Css/blog.css">
    <link rel="stylesheet" href="/Css/styles.css">
    <noscript>
        <style>
            /**
          * Reinstate scrolling for non-JS clients
          */
            .simplebar-content-wrapper {
                overflow: auto;
            }
        </style>
    </noscript>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-00X58N673T"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'G-00X58N673T');
    </script>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7287147359584031"
        crossorigin="anonymous"></script>
</head>

<body>
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous"
        src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v14.0&appId=593644877942199&autoLogAppEvents=1"
        nonce="55i7sfzH"></script>

    <nav class="navigation">
        <div class="blog-nav-enclosure">
            <div class="logo-and-links">
                <div class="logo">
                    <div class="burger blog-burger">
                        <div class="line1"></div>
                        <div class="line2"></div>
                        <div class="line3"></div>
                    </div>
                    <a href="/">
                        <div class="logo-wrapper">
                            <img src="/zs-logo.png" alt="Zoom Sportz">
                            <!-- <h1>Zoom Sportz</h1> -->
                        </div>

                    </a>
                </div>

                <ul class="nav_links">
                    <li class="nav_link"> <a href="/">Home</a> </li>
                    <li class="nav_link"> <a href="/odds-comparison" class="<%= live %> ">Odds-comparison</a> </li>
                    <li class="nav_link"> <a href="/live-preview">Livescores</a> </li>
                    <li class="nav_link"> <a href="/highlights">Highlights</a> </li>
                    <li class="nav_link"> <a href="/tables">Tables</a> </li>
                    <li class="nav_link"> <a href="/league">League</a> </li>


                    <% if(user){%>
                    <% if(user.privilege === "admin"){%>
                    <li class="nav_link"> <a href="/users/admin/dashboard/<%= user._id %>">Dashboard</a> </li>
                    <% }else{%>
                    <li class="nav_link"> <a href="/users/dashboard/<%= user._id %>">Dashboard</a> </li>
                    <% } %>
                    <% } %>
                </ul>

            </div>

        </div>
    </nav>

    <div class="side-drawer" data-simplebar>
        <i class="fas fa-times"></i>
        <div class="side-drawer-inner">
            <div class="main-category discover-movies">
                <div class="category-title">
                    <h2 class="discover">Menu</h2>
                </div>
                <div class="category-types">
                    <ul class="categories">
                        <li><a class="active-cat" href="/">Home</a></li>
                        <li><a class="active-cat" href="/odds-comparison">Odds-comparison</a> </li>
                        <li><a class="active-cat" href="/live-preview">Livescores</a> </li>
                        <li><a class="active-cat" href="/highlights">Highlights</a></li>
                        <li><a class="active-cat" href="/tables">Tables</a></li>
                        <li><a class="active-cat" href="/league">League</a></li>
                        <% if(user){%>
                        <% if(user.privilege === "admin"){%>
                        <li><a class="active-cat" href="/users/admin/dashboard/<%= user._id %>">Dashboard</a> </li>
                        <% }else{%>
                        <li> <a class="active-cat" href="/users/dashboard/<%= user._id %>">Dashboard</a> </li>
                        <% } %>
                        <% } %>
                    </ul>
                </div>

            </div>


            <div class="main-category discover-movies">
                <div class="category-title">
                    <h2 class="discover">Categories</h2>
                </div>
                <div class="category-types">
                    <ul class="categories">
                        <% if(sortedCats){%>
                        <% for(let cat in sortedCats){%>
                        <li><i class="fas fa-futbol"></i><a class="active-cat" href="/category/<%=cat%>"><%= cat %></a>
                        </li>
                        <% } %>
                        <% } %>
                    </ul>
                </div>

            </div>

        </div>
        <div class="side-drawer-logo">
            <img src="/zs-logo.png" alt="Zoom Sportz">
        </div>

    </div>
    <section class="side-drawer-backdrop"></section>

    <section id="header-container" class="blog-header">
        <div class="wrapper-enclosure-blog live-preview-wrapper">
            <div class="livescore-wrapper">

                <div id="oddspedia-widget-odds-comparison-popular-false-sports-false-leagues-false">
                    <script>
                        window.oddspediaWidgetOddsComparisonPopularSportsLeagues = {
                            api_token: "<%=token%>",
                            type: "odds-comparison",
                            domain: "zoom-sportz.com",
                            selector: "oddspedia-widget-odds-comparison-popular-false-sports-false-leagues-false",
                            width: "0",
                            theme: "0",
                            odds_type: "1",
                            language: "en",
                            primary_color: "#283E5B",
                            accent_color: "#00B1FF",
                            font: "Roboto",
                            logos: "true",
                            limit: "10",
                            popular: "false",
                            sports: "",
                            leagues: "",
                        };
                    </script>
                    <script
                        src="https://widgets.oddspedia.com/js/widget/init.js?widgetId=oddspediaWidgetOddsComparisonPopularSportsLeagues"
                        async></script>
                </div>

            </div>


            <div class="ads-container">
                <script async
                    src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7287147359584031"
                    crossorigin="anonymous"></script>
                <!-- banner ads -->
                <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-7287147359584031"
                    data-ad-slot="9234749507" data-ad-format="auto" data-full-width-responsive="true"></ins>
                <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
            </div>




        </div>

    </section>







    <%- include('partials/footer') %>