<%- include("partials/wcheader") %>
<div class="side-drawer" data-simplebar>
    <i class="fas fa-times"></i>
    <div class="side-drawer-inner">
        <div class="main-category discover-movies">
            <div class="category-title">
                <h2 class="discover">Menu</h2>
            </div>
            <div class="category-types">
                <ul class="categories">
                    <li><a class="active-cat" href="/">Home</a></li>
                    <li><a class="active-cat" href="/about-us">About Us</a></li>
                    <li><a class="active-cat" href="/live-preview">Livescores</a> </li>
                    <% if(user){%>
                    <% if(user.privilege === "admin"){%>
                    <li><a class="active-cat" href="/users/admin/dashboard/<%= user._id %>">Dashboard</a> </li>
                    <% }else{%>
                    <li> <a class="active-cat" href="/users/dashboard/<%= user._id %>">Dashboard</a> </li>
                    <% } %>
                    <% } %>
                </ul>
            </div>

        </div>
        <div class="main-category discover-movies">
            <div class="category-title">
                <h2 class="discover">FIFA WORLD CUP 2022</h2>
            </div>
            <div class="category-types">
                <ul class="categories">
                    <li><a class="active-cat" href="/world-cup-standings">Standings</a></li>
                    <li><a class="active-cat" href="/world-cup-squads">Squads</a></li>
                    <li><a class="active-cat" href="/world-cup-topscorers">Top Scorers</a></li>
                    <li><a class="active-cat" href="/world-cup-livescore">Livescore</a></li>
                </ul>
            </div>

        </div>
        <div class="main-category discover-movies">
            <div class="category-title">
                <h2 class="discover">Categories</h2>
            </div>
            <div class="category-types">
                <ul class="categories">
                    <% if(sortedCats){%>
                    <% for(let cat in sortedCats){%>
                    <li><i class="fas fa-futbol"></i><a class="active-cat" href="/category/<%=cat%>"><%= cat %></a>
                    </li>
                    <% } %>
                    <% } %>
                </ul>
            </div>

        </div>

    </div>
    <div class="side-drawer-logo">
        <img src="/zs-logo.png" alt="Zoom Sportz">
    </div>

</div>
<section class="side-drawer-backdrop"></section>

<section id="header-container" class="blog-header">
    <div class="wrapper-enclosure-blog live-preview-wrapper">
        <div id="sportmonks-widget" data-widget="wc-topscorers"
            data-info="pR1wi9SQzetww5849ucWx4XE+UiAVlMb4h8QY5+lkoT0sHxYd54dSxyyetZ1vMVSCTFyAR3qD3JIZM26X70P2gaNPuB+q+ulPHPb4MJvddDhceDThnU+NrLTf7cfuF12LCmaEPqt16bfttPiOn0RJ/Q/ZqNaBCPT60j5Ey8kQ103WVUHCRUeYJW09myZBLYtBfdMIbYcmdcVE8r9O3ztF0zYM8nhkZ8ypQ9B1LvnP7elEMPjvCTo99xCVoxmWC9uDOt1/+H4H9fDpt7cD4CipyMcbGd5oqr3SjNeetIYurm/qscNy7ZYqohnP1Ha9IDQy4YI9TMdvy5qxCdZvN/NSQ5Z4Bb4jU7KeIeBPWMMSG86tvqRZPRxv6BlbkQy1moKQC3osLPv5fUcfDpbh33Go4YCLlWDlY1DUM1xeWJFB5Vcl8IxUAz8XbwOHB74zj0GUGQwr2WHzOIRpTbZXuNnQuoc9dS5MRT7I0H9pisqhJgXNfYzRUID+KdoWoP/F5tHTfm2nzXHfWqVNkKtulimoZBubdi1Pq860+2//JgtGfN9kxi7fpraVVTjdBxYMcBqU3+uTtcJlIk0JKOIHY9Gi05gH5fXFg4n1qD+J8WFH4dSfjJOi3UavUq+MAH6NfcHCfNAjDj+OfIRuabG7u2a0jVv5ZV55InhNiC0OqSE1PY="
            data-colors="#010028,#1893C1,#D0D0D9,#343353" data-brand="https://zoom-sportz.com/b&w-logo.png"
            data-rowamount="10"></div>

        <div class="ads-container">
            <script async
                src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7287147359584031"
                crossorigin="anonymous"></script>
            <!-- banner ads -->
            <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-7287147359584031"
                data-ad-slot="9234749507" data-ad-format="auto" data-full-width-responsive="true"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>




    </div>

</section>







<%- include('partials/footer') %>