<%- include("partials/wcheader") %>
<div class="side-drawer" data-simplebar>
    <i class="fas fa-times"></i>
    <div class="side-drawer-inner">
        <div class="main-category discover-movies">
            <div class="category-title">
                <h2 class="discover">Menu</h2>
            </div>
            <div class="category-types">
                <ul class="categories">
                    <li><a class="active-cat" href="/">Home</a></li>
                    <li><a class="active-cat" href="/about-us">About Us</a></li>
                    <li><a class="active-cat" href="/live-preview">Livescores</a> </li>
                    <% if(user){%>
                    <% if(user.privilege === "admin"){%>
                    <li><a class="active-cat" href="/users/admin/dashboard/<%= user._id %>">Dashboard</a> </li>
                    <% }else{%>
                    <li> <a class="active-cat" href="/users/dashboard/<%= user._id %>">Dashboard</a> </li>
                    <% } %>
                    <% } %>
                </ul>
            </div>

        </div>
        <div class="main-category discover-movies">
            <div class="category-title">
                <h2 class="discover">FIFA WORLD CUP 2022</h2>
            </div>
            <div class="category-types">
                <ul class="categories">
                    <li><a class="active-cat" href="/world-cup-standings">Standings</a></li>
                    <li><a class="active-cat" href="/world-cup-squads">Squads</a></li>
                    <li><a class="active-cat" href="/world-cup-topscorers">Top Scorers</a></li>
                    <li><a class="active-cat" href="/world-cup-livescore">Livescore</a></li>
                </ul>
            </div>

        </div>
        <div class="main-category discover-movies">
            <div class="category-title">
                <h2 class="discover">Categories</h2>
            </div>
            <div class="category-types">
                <ul class="categories">
                    <% if(sortedCats){%>
                    <% for(let cat in sortedCats){%>
                    <li><i class="fas fa-futbol"></i><a class="active-cat" href="/category/<%=cat%>"><%= cat %></a>
                    </li>
                    <% } %>
                    <% } %>
                </ul>
            </div>

        </div>

    </div>

</div>
<section class="side-drawer-backdrop"></section>

<section id="header-container" class="blog-header">
    <div class="wrapper-enclosure-blog live-preview-wrapper">
        <div id="sportmonks-widget" data-widget="wc-livescore"
            data-info="qzordEXLJJBmAQ0MPm/Ms9cd9Jqj/Wz3UNRGyLwUKS9ujYsmTtYM8I9tHYXOHTbA9F8nzBDN1Hcpwqs8KAxR/mncJr0gXWsfeza/pD4PzmtL31XUmcA10PgGwN39AEfcbYzffzpOzwohqKpvnHEZPJVA/6XQpOTyxKz+hqrggeU9bCzQb+tf2KaMpvnM6kXIA699RcU/eOI/ldVclY8/2MjvX2xgXBhXIDS0ZtpLPqbhPoFmvXfluZNR5Xe5tRV48aO/FsRhVeJWR+ldzibZdhQmhAy8tyvZ0Jn9a2nJgPqPhDzvQApN8rJSUSv8CaOR00wAYfbGkLj+9zPBgcY3K9ndI29P108wwx2fbMsDVo+A+PgLW3sAMRKcif8LEPQVtUxi8Y/0JcB9Oudh7WIF+RjqHegsbj3dDP8EGMz4An245U5othXL884Yr1Rn/YcpuWverN87q0oB8URWuRvwZxvNuAuD9b5GBf7hadURsBRhbZssDasHHlQKmaOlPIW3eD+bxnnwW0/KaTj6M3PCSQKe21LD7jSRC7Jsr1imh3EdjcjEaWqre9Q552DwGttYtgS42DIUZjVPZqpBz7MdHM7gcw0NJppLPyucM6WTNfry8PopfAFI/LDV5TnRHEmOy51JWHzoVK2u+JZ0HKj5M3j5JGMF9tKu1krR9rRTiZw="
            data-colors="#010028,#1893C1,#D0D0D9,#343353" data-brand="https://zoom-sportz.com/b&w-logo.png"
            data-matchcenter="true"></div>

        <div class="ads-container">
            <script async
                src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7287147359584031"
                crossorigin="anonymous"></script>
            <!-- banner ads -->
            <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-7287147359584031"
                data-ad-slot="9234749507" data-ad-format="auto" data-full-width-responsive="true"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>




    </div>

</section>







<%- include('partials/footer') %>