<%- include("partials/wcheader") %>
<div class="side-drawer" data-simplebar>
    <i class="fas fa-times"></i>
    <div class="side-drawer-inner">
        <div class="main-category discover-movies">
            <div class="category-title">
                <h2 class="discover">Menu</h2>
            </div>
            <div class="category-types">
                <ul class="categories">
                    <li><a class="active-cat" href="/">Home</a></li>
                    <li><a class="active-cat" href="/about-us">About Us</a></li>
                    <li><a class="active-cat" href="/live-preview">Livescores</a> </li>
                    <% if(user){%>
                    <% if(user.privilege === "admin"){%>
                    <li><a class="active-cat" href="/users/admin/dashboard/<%= user._id %>">Dashboard</a> </li>
                    <% }else{%>
                    <li> <a class="active-cat" href="/users/dashboard/<%= user._id %>">Dashboard</a> </li>
                    <% } %>
                    <% } %>
                </ul>
            </div>

        </div>
        <div class="main-category discover-movies">
            <div class="category-title">
                <h2 class="discover">FIFA WORLD CUP 2022</h2>
            </div>
            <div class="category-types">
                <ul class="categories">
                    <li><a class="active-cat" href="/world-cup-standings">Standings</a></li>
                    <li><a class="active-cat" href="/world-cup-squads">Squads</a></li>
                    <li><a class="active-cat" href="/world-cup-livescore">Livescore</a></li>
                </ul>
            </div>

        </div>
        <div class="main-category discover-movies">
            <div class="category-title">
                <h2 class="discover">Categories</h2>
            </div>
            <div class="category-types">
                <ul class="categories">
                    <% if(sortedCats){%>
                    <% for(let cat in sortedCats){%>
                    <li><i class="fas fa-futbol"></i><a class="active-cat" href="/category/<%=cat%>"><%= cat %></a>
                    </li>
                    <% } %>
                    <% } %>
                </ul>
            </div>

        </div>

    </div>

</div>
<section class="side-drawer-backdrop"></section>

<section id="header-container" class="blog-header">
    <div class="wrapper-enclosure-blog live-preview-wrapper">
        <div id="sportmonks-widget" data-widget="wc-squad"
            data-info="dhbLPMa1b0RV5TF1c0jhYk2am5hTYqISqhKm9V7UjtEl+ILw08cPLnnrTe1oHGTuuRAqPC+0baUw21BgBN03bbI5M9WbptnwPTly95Wi06a3HIoESJ4CcHe23EYnWVUrYl/hxHVZsx7wiVSb9OvvLl5FL40bgGzu5QXVR1UQc1H4NJkO4OD/9l8cG1KWQUiDIOhn4Fa7N6VjJ3iK65jVe3kTCysxns0XDL8GSkZVVNMQ0kBshgapDRubR+d2PX0A9NUrh7flH4V4F4jN296eIQt0QoK419iQ9ZxwB+IUXgA6Kksjw9hvPfA48bxPqy3FfXLmaZ/3OcFqaI9594Ionzo4o8Rt8XPFafHE1F1GXMJsGPc8TsIPliUTThlDylfKc6qiw0NnGoS4Q45ZDtLoMWRmyXSC9TC66R8/bqKyOV8/jDUUMsK7Ogs9QfsmjUHyfzsfgZeqtYhfnHrX62CfoI9EYioyPZnfsVIDASLe3E1jx9kTQd/z6AoGv3X3Fx8G8EnRbewSQAzZkMURzwN+4/NSanF0GViJvim3Dggz3TfYClmIRKqgkJ2fnHi5JrsZPL9+ycuWpMg5wvqV0bGBkW7rF6/iwETzotZFKC1BsHNgsZZ5LPSliwSVsrFbk7W9AUIbOHP2p2jJYmRyYsy0T6TkON8P2pFgJSTY/4saIBU="
            data-colors="#3C041D,#1893C1,#D0D0D9,#7F1431" data-brand="https://zoom-sportz.com/b&w-logo.png"
            data-team="18780" data-teamselect="true"></div>

        <div class="ads-container">
            <script async
                src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7287147359584031"
                crossorigin="anonymous"></script>
            <!-- banner ads -->
            <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-7287147359584031"
                data-ad-slot="9234749507" data-ad-format="auto" data-full-width-responsive="true"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>




    </div>

</section>







<%- include('partials/footer') %>