<%- include("partials/wcheader") %>
<div class="side-drawer" data-simplebar>
    <i class="fas fa-times"></i>
    <div class="side-drawer-inner">
        <div class="main-category discover-movies">
            <div class="category-title">
                <h2 class="discover">Menu</h2>
            </div>
            <div class="category-types">
                <ul class="categories">
                    <li><a class="active-cat" href="/">Home</a></li>
                    <li><a class="active-cat" href="/about-us">About Us</a></li>
                    <li><a class="active-cat" href="/live-preview">Livescores</a> </li>
                    <% if(user){%>
                    <% if(user.privilege === "admin"){%>
                    <li><a class="active-cat" href="/users/admin/dashboard/<%= user._id %>">Dashboard</a> </li>
                    <% }else{%>
                    <li> <a class="active-cat" href="/users/dashboard/<%= user._id %>">Dashboard</a> </li>
                    <% } %>
                    <% } %>
                </ul>
            </div>

        </div>
        <div class="main-category discover-movies">
            <div class="category-title">
                <h2 class="discover">FIFA WORLD CUP 2022</h2>
            </div>
            <div class="category-types">
                <ul class="categories">
                    <li><a class="active-cat" href="/world-cup-standings">Standings</a></li>
                    <li><a class="active-cat" href="/world-cup-squads">Squads</a></li>
                    <li><a class="active-cat" href="/world-cup-livescore">Livescore</a></li>
                </ul>
            </div>

        </div>
        <div class="main-category discover-movies">
            <div class="category-title">
                <h2 class="discover">Categories</h2>
            </div>
            <div class="category-types">
                <ul class="categories">
                    <% if(sortedCats){%>
                    <% for(let cat in sortedCats){%>
                    <li><i class="fas fa-futbol"></i><a class="active-cat" href="/category/<%=cat%>"><%= cat %></a>
                    </li>
                    <% } %>
                    <% } %>
                </ul>
            </div>

        </div>

    </div>

</div>
<section class="side-drawer-backdrop"></section>

<section id="header-container" class="blog-header">
    <div class="wrapper-enclosure-blog live-preview-wrapper">
        <div id="sportmonks-widget" data-widget="wc-squad"
            data-info="S9CyW4zCnrmOJqo+sGqDM3Pte0zBToMr9743Wk9gr+0OpFyqHzCeGH08Hyls20+9YOwDYQWQqDIXKx5s0VlwM8wl/R8YkSoMXsCtse438umI3izSPLRMvk0PX4hMros7z3ZT/iOYBTAqg4Cdw6CJz4kzYfsaC15cloti5xz6bnQSA74YwubTz8RlRqzQyipR7xPPJ9RWul7xoAJiC5mD6GuY0W6v4zZQrGnhQXsKBmXo683XECoiZT/3D/bP1gOj4cT9we97Vu4cvhOvEmSPOGeSUQyHPpqnCyyezDvJee1nmfMHu7v57p6tQKu8WxLKU7pSk9HRGmvKpIGqCTBUP+c0xZ5Paq/ra1eVSIx4KX82Thl3zmykzSvgPDlTP/qGlsutczRigqBG/OpMT29+Ee5+jfJi1DMwtdex6dyBv424v4lay33ENaySpbTy+rLmYoDtEu4hbWLNe3bye/mTAwEVSfG5KXB43xrc5RAH5lbRXfoEQU1NVebnS8QO/9bm7RlQs3MBh4UyLmJ4Yb6kxaYhjgSVrzBtsRvHOx0Pzaea+KAUDK3TecnmUrjCyiXDjLoh8HCN8qpNFGmH/DhRffgeHlCSyxbAoyrYIMyj0F9F+nKXYNrBV56wDmewzmWVQvTfmWf8HZhY7GAhumWm59CEM7yFEnDoW1F7kxRmJX0="
            data-colors="#010028,#1893C1,#D0D0D9,#343353" data-brand="https://zoom-sportz.com/b&w-logo.png"
            data-team="18644" data-teamselect="true"></div>

        <div class="ads-container">
            <script async
                src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7287147359584031"
                crossorigin="anonymous"></script>
            <!-- banner ads -->
            <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-7287147359584031"
                data-ad-slot="9234749507" data-ad-format="auto" data-full-width-responsive="true"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>




    </div>

</section>







<%- include('partials/footer') %>