<%- include("partials/wcheader") %>
<div class="side-drawer" data-simplebar>
    <i class="fas fa-times"></i>
    <div class="side-drawer-inner">
        <div class="main-category discover-movies">
            <div class="category-title">
                <h2 class="discover">Menu</h2>
            </div>
            <div class="category-types">
                <ul class="categories">
                    <li><a class="active-cat" href="/">Home</a></li>
                    <li><a class="active-cat" href="/about-us">About Us</a></li>
                    <li><a class="active-cat" href="/live-preview">Livescores</a> </li>
                    <% if(user){%>
                    <% if(user.privilege === "admin"){%>
                    <li><a class="active-cat" href="/users/admin/dashboard/<%= user._id %>">Dashboard</a> </li>
                    <% }else{%>
                    <li> <a class="active-cat" href="/users/dashboard/<%= user._id %>">Dashboard</a> </li>
                    <% } %>
                    <% } %>
                </ul>
            </div>

        </div>
        <div class="main-category discover-movies">
            <div class="category-title">
                <h2 class="discover">FIFA WORLD CUP 2022</h2>
            </div>
            <div class="category-types">
                <ul class="categories">
                    <li><a class="active-cat" href="/world-cup-standings">Standings</a></li>
                    <li><a class="active-cat" href="/world-cup-squads">Squads</a></li>
                    <li><a class="active-cat" href="/world-cup-topscorers">Top Scorers</a></li>
                    <li><a class="active-cat" href="/world-cup-livescore">Livescore</a></li>
                </ul>
            </div>

        </div>
        <div class="main-category discover-movies">
            <div class="category-title">
                <h2 class="discover">Categories</h2>
            </div>
            <div class="category-types">
                <ul class="categories">
                    <% if(sortedCats){%>
                    <% for(let cat in sortedCats){%>
                    <li><i class="fas fa-futbol"></i><a class="active-cat" href="/category/<%=cat%>"><%= cat %></a>
                    </li>
                    <% } %>
                    <% } %>
                </ul>
            </div>

        </div>

    </div>

</div>
<section class="side-drawer-backdrop"></section>

<section id="header-container" class="blog-header">
    <div class="wrapper-enclosure-blog live-preview-wrapper">
        <div id="sportmonks-widget" data-widget="wc-standings"
            data-info="aHEHqMbap+Vh9/s4OIizXXH4OzMvRIpzps9V3zpmHgG6wktT8bWuA4iDAPQIaIjNvn6Frdnva+ZIvXmSTYW14lVpjHNqsB3NsEDSpjDvOGwA0kh3bZl6GjTaTC5BPohem/PYMdACRabs0Bw+wlFE94Q21O5qoiudTLijG0qTbUdpApABrXYeiTDMdO/aDRZ5YdHLLhBpBGj2guM7Q7KUYmvP4juK/tvh7jiDQ1BVXmvzi1zNt0fYQYjJ6Ds+YMrWHk1ohpIvqctaiPb58LvMw9GA72UCSDz/PGg2JKlc/ZhgcIT0DASZhCDUxcrQawF9d5QvsGKITO1FcKymezCKQxeMm3Fc0XF928/RstCDGEPpq25wTyTH6BoWNEWrKL13U+qz9iq0xg9foLTo9qeVD87hDrJjqlEO5wmFEa4363+oaYmBxAC/ZNveROnAIDOgHXLZ1gtiUTjx8/HeYlT9rmeFESaJ56OQXqjXfrPoxrwjY/9Y3R2H+x6g2FeazxJWVh2RjHlwwxCyoBUNiM2f56nuqZJ5+Qf/a6mgXLj8N6X47mAp74XpIUPAh1u4cM6D9fd2bmt5Gtwp7iarE9cCjuw4qzMWCA8GKa8jsvhsmwzoPPryXozWE8vkqTRUDZONsRFWTGGwNMQMj0WU235TEJUL5aqgiJKfnHycShdi85U="
            data-colors="#271CAA,#1893C1,#D0D0D9,#31097B" data-brand="https://zoom-sportz.com/b&w-logo.png"
            data-live="true"></div>
        <div class="ads-container">
            <script async
                src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7287147359584031"
                crossorigin="anonymous"></script>
            <!-- banner ads -->
            <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-7287147359584031"
                data-ad-slot="9234749507" data-ad-format="auto" data-full-width-responsive="true"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>




    </div>

</section>







<%- include('partials/footer') %>