<%- include("partials/wcheader") %>
<div class="side-drawer" data-simplebar>
    <i class="fas fa-times"></i>
    <div class="side-drawer-inner">
        <div class="main-category discover-movies">
            <div class="category-title">
                <h2 class="discover">Menu</h2>
            </div>
            <div class="category-types">
                <ul class="categories">
                    <li><a class="active-cat" href="/">Home</a></li>
                    <li><a class="active-cat" href="/about-us">About Us</a></li>
                    <li><a class="active-cat" href="/live-preview">Livescores</a> </li>
                    <% if(user){%>
                    <% if(user.privilege === "admin"){%>
                    <li><a class="active-cat" href="/users/admin/dashboard/<%= user._id %>">Dashboard</a> </li>
                    <% }else{%>
                    <li> <a class="active-cat" href="/users/dashboard/<%= user._id %>">Dashboard</a> </li>
                    <% } %>
                    <% } %>
                </ul>
            </div>

        </div>
        <div class="main-category discover-movies">
            <div class="category-title">
                <h2 class="discover">FIFA WORLD CUP 2022</h2>
            </div>
            <div class="category-types">
                <ul class="categories">
                    <li><a class="active-cat" href="/world-cup-standings">Standings</a></li>
                    <li><a class="active-cat" href="/world-cup-squads">Squads</a></li>
                    <li><a class="active-cat" href="/world-cup-topscorers">Top Scorers</a></li>
                    <li><a class="active-cat" href="/world-cup-livescore">Livescore</a></li>
                </ul>
            </div>

        </div>
        <div class="main-category discover-movies">
            <div class="category-title">
                <h2 class="discover">Categories</h2>
            </div>
            <div class="category-types">
                <ul class="categories">
                    <% if(sortedCats){%>
                    <% for(let cat in sortedCats){%>
                    <li><i class="fas fa-futbol"></i><a class="active-cat" href="/category/<%=cat%>"><%= cat %></a>
                    </li>
                    <% } %>
                    <% } %>
                </ul>
            </div>

        </div>

    </div>

</div>
<section class="side-drawer-backdrop"></section>

<section id="header-container" class="blog-header">
    <div class="wrapper-enclosure-blog live-preview-wrapper">
        <div id="sportmonks-widget" data-widget="wc-standings"
            data-info="rk2Dqq1CUV73/Ytc6iUOIg2lUL9PdvA6XKPdhp2un3HOH8BchX+nBG1jEuJP2cxEN3J69EwJWORo8+N21IFOyv/ubvfnhg4SwcHD3s+Il20hykP6KSI00nI2EMx7OVzGp0ijZDCFQX21Qr/ozb4zVzrKG45tIPBeankabCQfEwGa6sGTOxp2fI4OIPfq5FYl/lSgT/Vi58O4XwX4M6dBRd0Fri0DDo6bG/7n5xupoDnWYYjd++8EJt2dAZ/d6Fqfs3pUt/izCdm5MD+XmQdqCY/C3HDsHL3lv944ZnzI6vUthtvTlQxw5J/me/WJ+0oZZN6Dunbuo9gvA9s1U5L2pwYzicGmpAYBoRQrR6IL/pZ4IJgRVEkKQC5lhkL69HHrFXM90mczoO0UfCfHe+1rIF5VYaj1s3bvUzpXCOLrzvT7OSSoF3llZJCMmrvGo9ihavoWKzUx4dOAjZgTMpZYvDj8TQQDhuQzMlI45Bsgc/TUBIuvmC9Q44L81cfcuO11ZfkpvMFF0nHImTiW+CIxD0M2dtPLvNzAqf6/BHzDqYbuSooR2fBtSa+kXt+Rs/m4ehOXKQBFiaRrp/nGuF4i5i8YeJB8gS0tiGqgOW+FFVr9Ki02sRuwD6GCocaph/CYRasEVLIffx0ejyZzQ3uOHSQuzhv6h9gGEKWjMp5LI1w="
            data-colors="#010028,#1893C1,#D0D0D9,#343353" data-brand="https://zoom-sportz.com/b&w-logo.png"
            data-live="true"></div>
        <div class="ads-container">
            <script async
                src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7287147359584031"
                crossorigin="anonymous"></script>
            <!-- banner ads -->
            <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-7287147359584031"
                data-ad-slot="9234749507" data-ad-format="auto" data-full-width-responsive="true"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>




    </div>

</section>







<%- include('partials/footer') %>