<%- include("partials/wcheader") %>
<div class="side-drawer" data-simplebar>
    <i class="fas fa-times"></i>
    <div class="side-drawer-inner">
        <div class="main-category discover-movies">
            <div class="category-title">
                <h2 class="discover">Menu</h2>
            </div>
            <div class="category-types">
                <ul class="categories">
                    <li><a class="active-cat" href="/">Home</a></li>
                    <li><a class="active-cat" href="/about-us">About Us</a></li>
                    <li><a class="active-cat" href="/live-preview">Livescores</a> </li>
                    <% if(user){%>
                    <% if(user.privilege === "admin"){%>
                    <li><a class="active-cat" href="/users/admin/dashboard/<%= user._id %>">Dashboard</a> </li>
                    <% }else{%>
                    <li> <a class="active-cat" href="/users/dashboard/<%= user._id %>">Dashboard</a> </li>
                    <% } %>
                    <% } %>
                </ul>
            </div>

        </div>
        <div class="main-category discover-movies">
            <div class="category-title">
                <h2 class="discover">FIFA WORLD CUP 2022</h2>
            </div>
            <div class="category-types">
                <ul class="categories">
                    <li><a class="active-cat" href="/world-cup-standings">Standings</a></li>
                    <li><a class="active-cat" href="/world-cup-squads">Squads</a></li>
                    <li><a class="active-cat" href="/world-cup-topscorers">Top Scorers</a></li>
                    <li><a class="active-cat" href="/world-cup-livescore">Livescore</a></li>
                </ul>
            </div>

        </div>
        <div class="main-category discover-movies">
            <div class="category-title">
                <h2 class="discover">Categories</h2>
            </div>
            <div class="category-types">
                <ul class="categories">
                    <% if(sortedCats){%>
                    <% for(let cat in sortedCats){%>
                    <li><i class="fas fa-futbol"></i><a class="active-cat" href="/category/<%=cat%>"><%= cat %></a>
                    </li>
                    <% } %>
                    <% } %>
                </ul>
            </div>

        </div>

    </div>

</div>
<section class="side-drawer-backdrop"></section>

<section id="header-container" class="blog-header">
    <div class="wrapper-enclosure-blog live-preview-wrapper">
        <div id="sportmonks-widget" data-widget="wc-standings"
            data-info="2j4YTZQ6LoVmJ5pWuG4/Hgoc21WzqB3mgaTo8JBndi8V9KbI43rmzfvUCxPCcR33rL6esrH6zaE56lF4LvqkpS62rRKKdmNxjrvNrf10H5r33/knB8DnydRHUMP+OHTT4JqtGDlFkXr2yL2VX9pRMilf0ugz/osNLS8kjJKHz8yrw88OiEULu9eU12IIKRTcHeGz94RTOcT9pxX9CyR3PDlFA52//IoT+XqsdWgHqWEt+ie0Qa8pPfWDhCeiUSPbpHHsvv+yqONDZtmf73zqu7MIJHz2zAnkT9szoutA5Mkif4XJcncaQVPl3S7qyqHjvKQOBzuGIoc7ybpKiAd32Cxzpa21c3RTg741hCcgclu4yor66IvwofOIKN1AcvxzqfrJdivms7oRPwuvGKFmoQraUG2Sgu+t175egd4hn8g7Bg39pajLzLCs7qDBX1dwJCnjSc7i0QybbjAAsf2lSSETDz3Yas8mHNoLoQ8fUJYlGkHRqyHmfZebl6RSLJvf2f0tn9uH0BzVEJXmzudIemu6d/e9vpQXiG0RiixqcHwHJeH+HLzCd8FjLkG8h+IQxj+DaTlaOJS6P2amAzhayqwkOho8DQ7qgslJVrNBI5l3/wmMW7TITndMix1qHN/WmnuRcAh3CpDESlQke04kn2qqDmVvo4gmbWvCuEVQGKc="
            data-colors="#010028,#1893C1,#D0D0D9,#343353" data-brand="https://zoom-sportz.com/b&w-logo.png"></div>
        <div class="ads-container">
            <script async
                src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7287147359584031"
                crossorigin="anonymous"></script>
            <!-- banner ads -->
            <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-7287147359584031"
                data-ad-slot="9234749507" data-ad-format="auto" data-full-width-responsive="true"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>




    </div>

</section>







<%- include('partials/footer') %>